.Table {
  padding-bottom: 20px;
}

.description {
  background-color: #ede0ea;
  padding: 0.5rem;
  border-radius: 5px;
  width: inherit;
  overflow-wrap: break-word;
  text-align: center;
}

.reasons {
  display: flex;
  background-color: #ede0ea;
  margin: 0.5rem;
}
