<div class="p-grid p-col-12 fix-direction" style="padding: 0 !important">
  <div
    class="p-grid p-col-12"
    style="padding-top: 50px; display: flex; justify-content: center"
  >
    <div
      class="p-grid p-col-12 p-md-11 p-lg-11 p-xl-11"
      style="padding-top: 5px"
    >
      <h2
        class="Title"
        style="
          padding-top: 41px;
          padding-bottom: 25px;
          padding-right: 0;
          font-family: iransans;
          font-size: 24px;
          font-weight: 500;
          margin-right: 2rem;
        "
      >
        تخصیص واحد های بانک به کاربران اداره اسناد
      </h2>
      <mat-card>
        <div
          class="p-grid p-col-12"
          style="display: flex; justify-content: space-evenly"
        >
          <div style="display: contents" class="p-grid p-col-6">
            <div class="p-grid p-col-3">
              <div style="margin-top: 0.1rem; display: contents">
                شعبه:
                <p-dropdown
                  *ngIf="typeKeys.length > 0"
                  [options]="currentPageItems"
                  placeholder="انتخاب کنید"
                  optionLabel="label"
                  [filter]="true"
                  [filterBy]="'label'"
                  (onChange)="setBranch($event)"
                  [title]="branchLabel"
                ></p-dropdown>
              </div>
            </div>
            <div class="p-grid p-col-3">
              <div style="margin-top: 0.1rem; display: contents">
                کاربر:
                <p-dropdown
                  *ngIf="userKeys.length > 0"
                  [filter]="true"
                  [filterBy]="'label'"
                  [options]="userKeys"
                  placeholder="انتخاب کنید"
                  optionLabel="label"
                  (onChange)="setUser($event)"
                  [title]="userLabel"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <div
            style="display: flex; justify-content: flex-end; margin-top: 1rem"
            class="p-grid p-col-6"
          >
            <div style="width: 40%" class="p-grid p-col-3">
              <div>
                <button
                  class="global-primary-button"
                  type="button"
                  (click)="Search()"
                  type="submit"
                >
                  جستجو
                </button>
              </div>
            </div>
            <div class="p-grid p-col-3">
              <div>
                <button
                  class="global-cancel-button"
                  type="button"
                  (click)="reloadPage()"
                  type="submit"
                >
                  انصراف
                </button>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 30px">
          <div style="min-height: 40vh">
            <p-table
              responsive="true"
              class="Table"
              autoLayout
              [paginator]="resultCount !== null && resultCount !== 0"
              [rows]="10"
              [value]="branchContent"
              dataKey="id"
              [lazy]="true"
              (onLazyLoad)="loadTable($event)"
              [totalRecords]="resultCount"
            >
              <ng-template pTemplate="header">
                <tr class="tr-class">
                  <th style="width: 20%" class="th-class">کد و نام شعبه</th>
                  <th style="width: 80%" class="th-class">کاربران</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr class="tr-class2">
                  <td class="td-class">
                    {{ product?.branchName }} - {{ product?.branchCode }}
                  </td>
                  <td class="td-class">
                    <mat-form-field
                      class="example-chip-list"
                      style="width: 100%"
                    >
                      <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip
                          *ngFor="let user of product.assignedProfiles"
                          [selectable]="selectable"
                          [removable]="removable"
                          (removed)="remove(user.user.fullName, product)"
                        >
                          {{ user.user.fullName }}
                          <mat-icon matChipRemove *ngIf="removable">
                            <img
                              src="../../../../assets/icons/wrong.svg"
                              width="15px"
                              height="15px"
                              alt="Delete"
                              aria-hidden="true"
                          /></mat-icon>
                        </mat-chip>
                        <input
                          width="100%"
                          placeholder="کاربران..."
                          #userInput
                          [formControl]="userCtrl"
                          [matAutocomplete]="auto"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                        />
                      </mat-chip-list>
                      <mat-autocomplete
                        #auto="matAutocomplete"
                        (optionSelected)="selected($event)"
                      >
                        <mat-option
                          *ngFor="let user of filteredUsers | async"
                          [value]="user"
                          (click)="addUser(user, product)"
                        >
                          {{ user }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div
              class="p-col-12"
              style="display: flex; justify-content: center"
            >
              <button
                class="global-primary-button"
                type="button"
                (click)="updateBranches()"
              >
                به روز رسانی
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #emptyTable>
  <div style="margin-top: 2rem">
    <p-table responsive="true" class="Table" autoLayout>
      <ng-template pTemplate="header">
        <tr class="tr-class">
          <th style="width: 100%" class="th-class">
            رکوردی جهت نمایش وجود ندارد
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>
