:host ::ng-deep .p-dropdown {
  width: 400px;
}

:host ::ng-deep .pi-chevron-right:before {
  content: "\e900";
  font-size: 20px;
}

:host ::ng-deep .p-datatable-scrollable-header-box {
  margin-left: 17px !important;
  padding-right: 0 !important;
  background-color: #f8f9fa;
}

:host ::ng-deep .p-datatable-scrollable-header {
  background-color: #f8f9fa !important;
}

:host ::ng-deep td {
  text-align: center;
  font-size: 12px;
}

:host ::ng-deep .p-accordion .p-accordion-content {
  min-height: 88px !important;
}

:host ::ng-deep .p-dropdown-item {
  max-width: 400px;
  font-size: x-small !important;
}

:host ::ng-deep .p-multiselect .p-multiselect-panel {
  left: -162px !important;
}


.success-dropdown {
  border: 1px solid #73eb92 !important;
  width: 90%;
}

.warning-dropdown {
  border: 1px solid red !important;
  width: 90%;
}

.basic-dropdown {
  border: 1px solid gray;
  width: 90%;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
  border: unset;
}

:host ::ng-deep .conflict-item {
  margin: 3px 5px !important;
}

:host ::ng-deep .conflicts-selected {
  display: contents !important;
}

.title-show {
  font-weight: bolder;
  border: 1px solid #820263;
  border-radius: 5px;
  padding: 5px;
  background: #ede0ea;
}

.blur-card {
  position: relative;
}

.card-content {
  filter: blur(5px); /* Adjust the blur amount as per your preference */
}

.text-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.reasons {
  display: flex;
  background-color: #ede0ea;
  margin: 0.5rem;
}
