.Title {
  padding-bottom: 0px;
}

.Table {
  padding-bottom: 20px;
}


:host ::ng-deep .p-dropdown {
  width: 197px;
}

:host ::ng-deep .p-dropdown-item:hover {
  min-width: 197px;
}


.textBox {
  display: inline-block;
  width: 98px;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: 500;
  font-size: x-large;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #820263;
}

:host ::ng-deep .mat-tab-body-content {
  background-color: #fff;
  border-radius: 10px;
}

.description {
  background-color: #ede0ea;
  padding: 0.5rem;
  border-radius: 5px;
  width: inherit;
  overflow-wrap: break-word;
  text-align: center;
}

.reasons {
  display: flex;
  background-color: #ede0ea;
  margin: 0.5rem;
}
