.global-button {
  background-color: #ede0ea;
  color: #820263;
  border: 1px #820263 solid !important;
  border-radius: 10px;
  font-size: 10px;
  font-family: "iransans", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 30px;
  margin-top: 10px;
}
