:host ::ng-deep .p-dropdown {
  width: 197px;
}


:host ::ng-deep .p-dropdown-item:hover {
  min-width: 197px;
}

.textBox {
  display: inline-block;
  width: 98px;
}

:host ::ng-deep .mat-tab-body-content {
  background-color: #fff;
  border-radius: 10px;
}

.reciveButton {
  color: #820263;
  background-color: #fff;
  border: none;
}

.reciveButton:disabled {
  color: #e0dfdf;
}

:host ::ng-deep .p-button {
  direction: ltr;
  gap: 5px;
}

:host ::ng-deep .p-button-icon-right {
  color: #820263;
}

.activeButton {
  background-color: #ede0ea;
  color: #820263;
  border: 1px #820263 solid !important;
  border-radius: 10px;
  padding: 8px;
  font-family: "iransans", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  width: 80%;
}
