<div class="p-grid p-col-12 fix-direction" style="padding: 0 !important">
  <div
    class="p-grid p-col-12"
    style="padding-top: 50px; display: flex; justify-content: center"
  >
    <div
      class="p-grid p-col-12 p-md-11 p-lg-11 p-xl-11"
      style="padding-top: 5px"
    >
      <h2
        class="Title"
        style="
          padding-top: 41px;
          padding-bottom: 25px;
          padding-right: 0;
          font-family: iransans;
          font-size: 24px;
          font-weight: 500;
          margin-right: 2rem;
        "
      >
        مدیریت فایل های منتظر تائید
      </h2>
      <mat-expansion-panel
        style="margin: 2%"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> جستجو </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          autocomplete="off"
          [formGroup]="formGroup"
          class="p-col-12"
          style="min-height: 325px"
        >
          <div
            class="p-grid p-col-12"
            style="padding-bottom: 0; font-size: 13px"
          >
            <div class="p-grid p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ ثبت دسته اسناد از</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setRegisterFromDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ دسته اسناد از</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setStartDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ ثبت دسته اسناد تا</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setRegisterToDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div
                class="p-col-12 p-sm-12 p-grid date-div"
                style="padding-bottom: 0"
              >
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ دسته اسناد تا</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setEndDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ سند</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setDocumentDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره ردیف دسته سند</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.rowNumber"
                    formControlName="rowNumber"
                  />
                </div>
              </div>

              <div *ngIf="showOther" class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره مشتری</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    [(ngModel)]="documentSearchDto.customerNumber"
                    class="input"
                    formControlName="customerNumber"
                    type="text"
                  />
                </div>
              </div>
              <div *ngIf="showOther" class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره پرونده</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    [(ngModel)]="documentSearchDto.fileNumber"
                    class="input"
                    formControlName="fileNumber"
                    type="text"
                  />
                </div>
              </div>
              <div *ngIf="showOther" class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نوع پرونده</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <p-dropdown
                    *ngIf="fileTypeKeys.length > 0"
                    (onChange)="setFileTypeId($event)"
                    [options]="fileTypeKeys"
                    formControlName="fileTypeId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="fileTypeLabel"
                  ></p-dropdown>
                </div>
              </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>کد و نام واحد بانکی</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <span
                    *ngIf="
                      roleName === 'ADMIN' || roleName === 'DOA';
                      else notBranch
                    "
                  >
                    <p-dropdown
                      *ngIf="typeBranchKeys.length > 0"
                      [options]="currentPageItemsBranch"
                      placeholder="انتخاب کنید"
                      optionLabel="label"
                      [filter]="true"
                      [filterBy]="'label'"
                      formControlName="branchIds"
                      (onChange)="setBranch($event)"
                      [title]="branchTypeLabel"
                    ></p-dropdown>
                  </span>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نوع اسناد</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    [options]="typeDocSetKeys"
                    placeholder="انتخاب کنید"
                    optionLabel="label"
                    (onChange)="setDocSetType($event)"
                    formControlName="type"
                    [title]="typeLabel"
                  ></p-dropdown>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>وضعیت سند</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    [options]="typeKeys"
                    placeholder="انتخاب کنید"
                    optionLabel="label"
                    (onChange)="setType($event)"
                    formControlName="state"
                    [title]="stateLabel"
                  ></p-dropdown>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>کاربر اداره اسناد</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <p-dropdown
                    *ngIf="userKeys.length > 0"
                    [options]="userKeys"
                    placeholder="انتخاب کنید"
                    optionLabel="label"
                    (onChange)="setRegisterUser($event)"
                    formControlName="creator"
                    [filter]="true"
                    [title]="userLabel"
                  ></p-dropdown>
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره سند</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.documentNumber"
                    formControlName="documentNumber"
                  />
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>کد نگهداری</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.maintenanceCode"
                    formControlName="maintenanceCode"
                  />
                </div>
              </div>

              <div *ngIf="showOther" class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>وضعیت پرونده</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    *ngIf="fileStatusKeys.length > 0; else emptyDD"
                    [(ngModel)]="defaultFs"
                    (onChange)="setFileStatusId($event)"
                    [options]="fileStatusKeys"
                    formControlName="fileStatusId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="defaultFs.label"
                  ></p-dropdown>
                </div>
              </div>
              <!-- <div *ngIf="showOther" class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نوع سند</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    *ngIf="otherDocumentType.length > 0; else emptyDD"
                    (onChange)="setOtherDocumentTypeId($event)"
                    [options]="otherDocumentType"
                    formControlName="otherDocumentTypeId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="otherDocumentTypeLabel"
                  ></p-dropdown>
                </div>
              </div> -->
            </div>
          </div>
          <div
            class="p-col-12"
            style="
              display: flex;
              justify-content: space-evenly;
              margin-top: 5rem;
            "
          >
            <button
              class="global-primary-button"
              [disabled]="false"
              (click)="search()"
            >
              جستجو
            </button>
            <button
              class="global-cancel-button"
              (click)="resetSearchItems()"
              type="submit"
            >
              انصراف
            </button>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-card>
        <mat-card-header>
          <mat-card-title>مشاهده نتایج جستجو</mat-card-title>
        </mat-card-header>
        <div style="margin-top: 30px">
          <div style="min-height: 40vh">
            <p-table
              dataKey="id"
              [(selection)]="selectedFileContradiction"
              responsive="true"
              selectionMode="single"
              class="Table"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="تعداد: {totalRecords} رکورد"
              [value]="documentData"
              autoLayout
              [paginator]="resultCount !== null && resultCount !== 0"
              [rows]="10"
              [lazy]="true"
              (onLazyLoad)="loadDocumentSets($event)"
              [totalRecords]="resultCount"
            >
              <ng-template pTemplate="header">
                <tr class="tr-class">
                  <th style="width: 7.5%" class="th-class">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 12%" class="th-class">نوع</th>
                  <th
                    style="width: 15%"
                    class="th-class"
                    pSortableColumn="registerDate"
                  >
                    <p-sortIcon field="registerDate"></p-sortIcon>

                    تاریخ ثبت دسته اسناد
                  </th>
                  <th
                    style="width: 15%"
                    class="th-class"
                    pSortableColumn="documentSet.fromDate"
                  >
                    <p-sortIcon field="documentSet.fromDate"></p-sortIcon>

                    تاریخ دسته اسناد از
                  </th>
                  <th
                    style="width: 15%"
                    class="th-class"
                    pSortableColumn="documentSet.toDate"
                  >
                    <p-sortIcon field="documentSet.toDate"></p-sortIcon>

                    تاریخ دسته اسناد تا
                  </th>
                  <th style="width: 12%" class="th-class">کاربر اداره اسناد</th>
                  <th style="width: 15%" class="th-class">
                    شماره ردیف دسته سند
                  </th>

                  <th style="width: 15%" class="th-class">
                    نام و کد واحد بانکی
                  </th>
                  <th
                    style="width: 15%"
                    class="th-class"
                    pSortableColumn="state.name"
                  >
                    <p-sortIcon field="state.name"></p-sortIcon> وضعیت
                  </th>
                  <th
                    style="width: 15%"
                    class="th-class"
                    pSortableColumn="maintenanceCode"
                  >
                    <p-sortIcon field="maintenanceCode"></p-sortIcon> کد نگهداری
                  </th>
                  <th style="width: 15%" class="th-class">مشاهده فایل</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr class="tr-class2">
                  <td class="tr-class">
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                  </td>
                  <td class="td-class">{{ getType(product.type) }}</td>
                  <td class="td-class">
                    {{ getDate(product.registerDate) }}
                  </td>
                  <td class="td-class">{{ getDate(product.fromDate) }}</td>
                  <td class="td-class">{{ getDate(product.toDate) }}</td>
                  <td class="td-class">
                    {{ product.state.username }}
                  </td>
                  <td class="td-class">
                    {{ product.documentSetRowsNumber }}
                  </td>
                  <td class="td-class">
                    {{ product.branchName }}-{{ product.branchCode }}
                  </td>
                  <td class="td-class">
                    {{ getStatus(product.currentState) }}
                  </td>
                  <td
                    style="overflow: hidden"
                    class="td-class"
                    *ngIf="
                      product?.maintenanceCode?.length > 0;
                      else emptyFeild
                    "
                  >
                    {{ product.maintenanceCode }}
                  </td>
                  <td class="td-class" style="color: red; cursor: pointer">
                    <span *ngIf="product.state.seen === false">
                      <img
                        src="../../../../assets/icons/eye.svg"
                        width="15px"
                        height="15px"
                        alt="SHOW"
                        style="color: #820263"
                        aria-hidden="true"
                        title="مشاهده"
                        (click)="openModalFileClickShow(scanModal, product)"
                      />
                    </span>
                    <span *ngIf="product.state.seen === true">
                      <img
                        src="../../../../assets/icons/eye-green.svg"
                        width="15px"
                        height="15px"
                        alt="SHOW"
                        style="color: #820263"
                        aria-hidden="true"
                        title="مشاهده"
                        (click)="openModalFileClickShow(scanModal, product)"
                      />
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div
            class="p-col-12"
            style="
              display: flex;
              justify-content: space-evenly;
              margin-top: 3rem;
              margin-bottom: 0.5rem;
            "
          >
            <button
              class="global-primary-button"
              [disabled]="selectedFileContradiction.length == 0"
              (click)="confirmDoc()"
              type="button"
            >
              تائید
            </button>
            <button
              class="global-primary-button"
              [disabled]="selectedFileContradiction.length == 0"
              (click)="openModalFileClick(rejectModal)"
              type="button"
            >
              عدم تائید
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #scanModal let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" style="color: black; float: left">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-scan-file-confirm
      [fileContradictionSets]="selectedFile"
    ></app-scan-file-confirm>
  </div>
</ng-template>

<ng-template #emptyFeild>
  <td class="td-class">-</td>
</ng-template>

<ng-template #emptyTable>
  <div style="margin-top: 2rem">
    <p-table responsive="true" class="Table" autoLayout>
      <ng-template pTemplate="header">
        <tr class="tr-class">
          <th style="width: 100%" class="th-class">
            رکوردی جهت نمایش وجود ندارد
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<ng-template #notBranch>
  <input class="input" type="text" [value]="branchName" disabled />
</ng-template>

<ng-template #rejectModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">عدم تائید</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" style="color: black; float: left">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #fixFileForm="ngForm" (ngSubmit)="cancelDoc()" action="">
      <div
        class="p-col-12 p-sm-12 p-grid date-div"
        fxLayout="row"
        fxLayoutAlign="space-around center"
      >
        <div
          class="p-col-12"
          style="
            padding-top: 12px;
            float: right;
            direction: rtl;
            text-align: right;
          "
        >
          <span style="font-size: larger; font-weight: 300">توضیحات:</span>
        </div>
        <div class="p-col-12 inputCSS">
          <textarea
            id="descriptionDoc"
            [(ngModel)]="descriptionDoc"
            name="descriptionDoc"
            type="text"
            style="
              text-align: right;
              font-family: iransans;
              font-size: medium;
              width: 100%;
              height: 70px;
            "
          >
          </textarea>
        </div>
        <div
          class="p-col-12"
          style="display: flex; justify-content: space-evenly"
        >
          <button
            class="global-primary-button"
            [disabled]="descriptionDoc === ''"
            type="submit"
          >
            عدم تائید
          </button>
          <button
            class="global-cancel-button"
            [disabled]="false"
            type="button"
            (click)="modal.dismiss('Cross click')"
          >
            انصراف
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #emptyDD>
  <input value="ابتدا نوع پرونده را انتخاب کنید" disabled class="input" />
</ng-template>
