<div class="errorPage">
  <div class="errorBox">
    <div class="code">404</div>
    <div class="description">!شما به این صفحه دسترسی ندارید</div>
    <div>
      <button (click)="logout()" class="global-primary-button">
        بازگشت به صفحه ورود
      </button>
    </div>
  </div>
  <div>
    <img src="../../../assets/img/circles.png" alt="circles" class="circles" />
  </div>
  <div>
    <img
      src="../../../assets/img/diagonal-lines.png"
      alt="lines"
      class="lines"
    />
  </div>
</div>
