<form [formGroup]="formGroup" autocomplete="off" class="form-inline p-col-12">
  <div style="position: relative">
    <input
      formControlName="datePickerForm"
      [attr.disabled]="disableDatePicker ? '' : null"
      autocomplete="off"
      class="hebrew rtl form-control cal-input"
      (click)="d2.toggle()"
      [placeholder]="placeholder"
      name="dp"
      [ngModel]="model"
      (ngModelChange)="model = $event"
      ngbDatepicker
      [dayTemplate]=""
      [firstDayOfWeek]="7"
      (dateSelect)="checkResult()"
      [maxDate]="maxDate"
      [minDate]="minDate"
      id="test"
      #d2="ngbDatepicker"
    />

    <img
      src="../../../../assets/icons/remove.svg"
      width="10px"
      height="10px"
      alt=""
      class="value-remove"
      aria-hidden="true"
      title="پاک کردن"
      (click)="emitValue()"
    />
  </div>
</form>
