<div
  class="p-grid p-col-12 fix-direction"
  style="padding: 0 !important; min-height: 500px"
>
  <div class="p-grid p-col-12">
    <div
      class="p-grid p-col-12 p-sm-12 p-md-12 p-lg-12 p-xl-12"
      style="margin-top: 55px; border-radius: 70px"
    >
      <div class="p-col-5 p-lg-5 p-xl-5" style="position: relative">
        <div class="back-styles">
          <div
            class="title-main"
            style="
              display: flex;
              justify-items: center;
              margin-top: 20px;
              margin-bottom: 20px;
            "
          >
            <div style="margin-top: 6px">سامانه یکپارچه مدیریت اسناد</div>
            <div>
              <img
                src="../../../assets/img/mainLogo.png"
                style="width: 2rem; margin-right: 10px"
              />
            </div>
          </div>
          <span
            >سیستم مدیریت اسناد سیما، نرم افزاری است که مسئولیت کنترل و پایش و
            نگهداری اسناد و اطلاعات مرتبط، از مرحله ایجاد تا آخرین مرحله امحای
            این اسناد و تعیین تکلیف آنها را برعهده دارد، همچنین امکان مدیریت
            دریافت، طبقه بندی، نگهداری، بازیابی و بایگانی مستندات را با یک
            دسترسی راحت و جستجوی سریع امکان پذیر میکند.</span
          >
        </div>
      </div>

      <div class="p-col-5 p-lg-5 p-xl-5">
        <img class="home-image" src="../../../assets/img/rectangle.png" />
      </div>
    </div>
  </div>
</div>
