.add-button {
  background-color: #3cbd57;
  border-radius: 50px;
  padding: 8px 19px;
  border: unset;
  margin-top: 0;
}



.example-container {
  float: right;
  width: 40%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

 @media (max-width: 993px) {
  .example-container{
    float: right;
    text-align: center;
    width: 30%;
    max-width: 100%;
    margin: 0 25px 25px 32px;
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  .change-icon {
    position: absolute;
    font-size: xx-large;
    right: 42% !important;
    bottom: 50% !important;
  }

}


.example-list {
  border: solid 2px #ccc;
  min-height: 200px;
  background: white;
  border-radius: 23px;
  overflow: hidden;
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}

.example-box {
  padding: 8px 8px;
  border-bottom: solid 2px #ccc;
  color: rgba(0, 0, 0, 0.87);
  font-family: iransans;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 17px;

}

.example-box-input {
  padding: 8px 8px;
  border-bottom: solid 2px #ccc;
  color: rgba(0, 0, 0, 0.87);
  font-family: iransans;
  flex-direction: row;
  text-align: right;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 17px;

}

.cdk-drag-preview {
  box-sizing: border-box;
  direction: rtl;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: 23px;
  z-Index: 10000 !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}



.change-icon {
  position: absolute;
  font-size: xx-large;
  right: 48%;
  bottom: 50%;
}

.node-content-wrapper, .tree-children {
  position: relative;
}

.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1 > tree-node-wrapper > .node-wrapper > .node-content-wrapper::before {
  display: none;
}

.tree-node-leaf > .node-wrapper > .node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child > .tree-node > .tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}
.p-xl-1,
.p-xl-2,
.p-xl-3,
.p-xl-4,
.p-xl-5,
.p-xl-6,
.p-xl-7,
.p-xl-8,
.p-xl-9,
.p-xl-10,
.p-xl-11,
.p-xl-1,
.p-grid {
  direction: rtl !important;
}


.fa-arrow-down {
  padding-top: 5px;
  padding-right: 5px;
  color: black;
}

.fa-plus {
  padding-top: 5px;
  padding-right: 0;
  color: #0080ff;
  font-size: 15px;
  cursor: pointer;
  padding-left: 15px;
}

.fa-trash {
  padding-top: 1px;
  padding-right: 20px;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

::ng-deep .btn-link {
  width: 100%;
}

::ng-deep .card {
  padding-bottom: 15px;
  border-bottom: 0;
  border-left: unset;
  border-right: unset;
  position: relative;
}

::ng-deep .card-header {
  box-shadow: 1px 1px #888888;
  min-height: 135px;
}

.items {
  background-color: white;
  border-top: 1px solid #ececec;
}

.padding-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.title-info {
  color: black;
}

.detail-info {
  font-size: large;
  font-weight: 600;
  padding-top: 20px;
}

.profile-style {
//width: 150px;
  float: right;
}

.rating-list li {
  color: #ddd;
  padding: 0 5px;

}

.rating-list li.selected {
  color: orange;
}

.rating-list {
  display: inline-block;
  list-style: none;
  padding: 0 5px 0 10px;
}

.fa-star {
  font-size: 30px;
}

@media screen and (max-width: 980px) {
  .items {
    height: unset;
  }
}

@media screen and (max-width: 640px) {
  .profile-style {
    width: 60px;
  }

  .items {
    height: unset;
  }
}


//////////////////////////////////////

.inline-middle {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.0rem;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.candidate-settings[_ngcontent-c52] .settings-body .panel-group .panel .panel-heading {
  padding-right: 0;
  padding-left: 0;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

textarea.form-control {
  min-height: 145px;
  max-height: 250px;
}

.input-group-addon {
  background-color: #ececec;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ececec;
  outline: 0;
  box-shadow: unset;
}

.inner-item {
  background-color: white;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 2px 2px 4px gray;
}

.inner-tab-panel {
  background-color: white;
  box-shadow: 2px 2px 4px gray;
}

.content-item {
  background-color: white;
  border-top: 1px solid #ececec;
}

.list-items {
  padding: 0;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.description {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}

.work-experiences.list-timeline-items :before {
  position: absolute;
  top: -106px;
  left: 44%;
  bottom: 0;
  width: 3px;
  margin-left: -1px;
  background-color: #777777;
  content: "";
}

.work-experiences.description .time-line {
  list-style: none outside none;
}

.list-timeline-items {
  position: relative;
  text-align: center;
}

.list-timeline-item1 {
  position: relative;
  text-align: center;
}

.work-experiences.description {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

.work-experiences-span {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  background: #777777;
  border-bottom: none !important;
}

.verticalLine {
  border-left: thick solid #777777;
  height: 83px;
  position: absolute;
  left: 5px;
  top: 13px;
}

.backgroundGreen {
  background-color: #2ecc71 !important;
}

.candidate-cv {
  min-height: 48px;
  background: #145fa8;
  padding-top: 4px;
  border-radius: 0 0 4px 4px;
}

.header-contact-information {
  min-height: 48px;
  background: #1d1d1d;
  padding-top: 4px;
  border-radius: 0 0 4px 4px;
  color: #ffb606;
}

.cv-right {
  background-color: white;
  text-align: center;
  border-radius: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.plus-node {
  padding-top: 0;
  padding-right: 8px;
  padding-left: 8px;
}

.hide {
  visibility: hidden;
}

.my-div:hover + .hide {
  visibility: visible;
  color: red;
}

#background1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;

}

::ng-deep .p-dialog .p-dialog-header {
  background-color: white;
  color: black;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: white;
  color: black;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon {
  color: black;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: black;
  border-color: transparent;
}

:host ::ng-deep .p-disabled{
  opacity: 0.7;
}


:host ::ng-deep .p-dropdown-item {
  max-width: 400px;
}
