<div
  class="p-grid p-col-12 fix-direction"
  style="background: white; padding: 0 !important"
>
  <div class="p-grid p-col-12" style="padding-top: 50px">
    <div
      class="p-col-12 p-md-1 p-lg-1 p-xl-1 padding-0"
      style="width: 4%"
    ></div>
    <div
      class="p-grid p-col-12 p-md-11 p-lg-11 p-xl-11"
      style="padding-top: 5px"
    >
      <mat-expansion-panel
        style="margin: 2%"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> جستجو فایل </mat-panel-title>
        </mat-expansion-panel-header>
        <form
          autocomplete="off"
          [formGroup]="formGroup"
          class="p-col-12"
          style="min-height: 325px"
        >
          <div
            class="p-grid p-col-12"
            style="padding-bottom: 0; font-size: 13px"
          >
            <div class="p-grid p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ ثبت دسته اسناد از</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setRegisterFromDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ ثبت دسته اسناد تا</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setRegisterToDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ دسته اسناد از</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setStartDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div
                class="p-col-12 p-sm-12 p-grid date-div"
                style="padding-bottom: 0"
              >
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ دسته اسناد تا</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setEndDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-sm-12 p-grid date-div">
                <div class="p-col-4 inner-date-div">
                  <span>تاریخ سند</span>
                </div>
                <div class="p-col-8">
                  <persian-date-picker
                    placeholder="انتخاب کنید"
                    (passEntry)="setDocumentDate($event)"
                  ></persian-date-picker>
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره مشتری</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    [(ngModel)]="documentSearchDto.customerNumber"
                    class="input"
                    formControlName="customerNumber"
                    type="text"
                  />
                </div>
              </div>
              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره پرونده</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    [(ngModel)]="documentSearchDto.fileNumber"
                    class="input"
                    formControlName="fileNumber"
                    type="text"
                  />
                </div>
              </div>
              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نوع پرونده</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <p-dropdown
                    *ngIf="fileTypeKeys.length > 0"
                    (onChange)="setFileTypeId($event)"
                    [options]="fileTypeKeys"
                    formControlName="fileTypeId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="fileTypeLabel"
                  ></p-dropdown>
                </div>
              </div>
            </div>

            <div class="p-col-12 p-sm-12 p-md-6 p-lg-6 p-xl-6">
              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>وضعیت فایل </span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    [options]="statusKeys"
                    placeholder="انتخاب کنید"
                    optionLabel="label"
                    (onChange)="setState($event)"
                    formControlName="state"
                    [title]="stateLabel"
                  ></p-dropdown>
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>کد و نام واحد بانکی</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <span
                    *ngIf="
                      roleName === 'ADMIN' ||
                        roleName === 'DOA' ||
                        roleName === 'DOEU' ||
                        roleName === 'DOPU' ||
                        roleName === 'RU';
                      else notBranch
                    "
                  >
                    <p-dropdown
                      *ngIf="typeBranchKeys.length > 0"
                      [options]="currentPageItemsBranch"
                      placeholder="انتخاب کنید"
                      optionLabel="label"
                      [filter]="true"
                      [filterBy]="'label'"
                      formControlName="branchIds"
                      (onChange)="setBranch($event)"
                      [title]="branchLabel"
                    ></p-dropdown>
                  </span>
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>کد نگهداری</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.maintenanceCode"
                    formControlName="maintenanceCode"
                  />
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نام فایل</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.filename"
                    formControlName="filename"
                  />
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>شماره سند</span>
                </div>
                <div class="p-col-8 inputCSS">
                  <input
                    class="input"
                    type="text"
                    [(ngModel)]="documentSearchDto.documentNumber"
                    formControlName="documentNumber"
                  />
                </div>
              </div>

              <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>وضعیت پرونده</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    *ngIf="fileStatusKeys.length > 0; else emptyDD"
                    [(ngModel)]="defaultFs"
                    (onChange)="setFileStatusId($event)"
                    [options]="fileStatusKeys"
                    formControlName="fileStatusId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="defaultFs.label"
                  ></p-dropdown>
                </div>
              </div>
              <!-- <div class="p-col-12 p-grid date-div">
                <div class="p-col-4" style="padding-top: 12px">
                  <span>نوع سند</span>
                </div>
                <div class="p-col-8">
                  <p-dropdown
                    *ngIf="otherDocumentType.length > 0; else emptyDD"
                    (onChange)="setOtherDocumentTypeId($event)"
                    [options]="otherDocumentType"
                    formControlName="otherDocumentTypeId"
                    optionLabel="label"
                    placeholder="انتخاب کنید"
                    [title]="otherDocumentTypeLabel"
                  ></p-dropdown>
                </div>
              </div> -->
            </div>
          </div>
          <div
            class="p-col-12"
            style="
              display: flex;
              justify-content: space-evenly;
              margin-top: 5rem;
            "
          >
            <button
              class="global-primary-button"
              [disabled]="false"
              (click)="search()"
            >
              جستجو
            </button>
            <button
              class="global-cancel-button"
              (click)="resetSearchItems()"
              type="submit"
            >
              انصراف
            </button>
          </div>
        </form>
      </mat-expansion-panel>

      <mat-card>
        <mat-card-header>
          <mat-card-title>مشاهده نتایج جستجو</mat-card-title>
        </mat-card-header>
        <div class="p-grid p-col-12">
          <div class="p-col-1" style="display: flex; justify-content: center">
            <img
              src="../../../../assets/icons/excel.svg"
              width="30px"
              height="30px"
              alt="EXCEL"
              style="margin: 0"
              aria-hidden="true"
              title="دریافت فایل اکسل نتایج جستجو"
              (click)="getExcelDocumentSet()"
            />
          </div>
        </div>
        <div class="p-col-12" style="padding-bottom: 15%">
          <p-table
            responsive="true"
            [value]="documentData"
            autoLayout
            [paginator]="resultCount !== null && resultCount !== 0"
            [rows]="10"
            [lazy]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="تعداد: {totalRecords} رکورد"
            (onLazyLoad)="loadDocumentSets($event)"
            [totalRecords]="resultCount"
          >
            <ng-template pTemplate="header">
              <tr class="tr-class">
                <th
                  style="width: 11%"
                  class="th-class"
                  pSortableColumn="registerDate"
                >
                  <p-sortIcon field="registerDate"></p-sortIcon>

                  تاریخ ثبت
                </th>
                <th
                  style="width: 15%"
                  class="th-class"
                  pSortableColumn="documentSet.fromDate"
                >
                  <p-sortIcon field="documentSet.fromDate"></p-sortIcon>

                  تاریخ دسته اسناد از
                </th>
                <th
                  style="width: 15%"
                  class="th-class"
                  pSortableColumn="documentSet.toDate"
                >
                  <p-sortIcon field="documentSet.toDate"></p-sortIcon>

                  تاریخ دسته اسناد تا
                </th>
                <th style="width: 15%" class="th-class">تاریخ ارسال</th>
                <th style="width: 15%" class="th-class">نام فایل</th>
                <th style="width: 15%" class="th-class">کد و نام واحد بانکی</th>
                <th style="width: 15%" class="th-class">کد نگهداری</th>
                <th style="width: 15%" class="th-class">شماره ردیف دسته سند</th>
                <th
                  style="width: 11%"
                  class="th-class"
                  pSortableColumn="state.name"
                >
                  <p-sortIcon field="state.name"></p-sortIcon>

                  وضعیت
                </th>
                <th style="width: 15%" class="th-class">مشاهده</th>
              </tr></ng-template
            >

            <ng-template pTemplate="body" let-product>
              <tr class="tr-class2">
                <td class="td-class">{{ getDate(product.registerDate) }}</td>
                <td class="td-class">{{ getDate(product.fromDate) }}</td>
                <td class="td-class">{{ getDate(product.toDate) }}</td>
                <td class="td-class">{{ getDate(product.sendDate) }}</td>
                <td
                  style="overflow: hidden; direction: ltr"
                  title="{{ product.file.name }}"
                  class="td-class"
                >
                  {{ product.name }}
                </td>
                <td class="td-class">
                  {{ product.branchName }}-{{ product.branchCode }}
                </td>
                <td class="td-class">{{ product.maintenanceCode }}</td>

                <td class="td-class">{{ product.documentSetRowsNumber }}</td>

                <td class="td-class">{{ getState(product.currentState) }}</td>
                <td class="td-class" style="color: red; cursor: pointer">
                  <span *ngIf="product.state.seen === false">
                    <img
                      src="../../../../assets/icons/eye.svg"
                      width="15px"
                      height="15px"
                      alt="SHOW"
                      style="color: #820263"
                      aria-hidden="true"
                      title="مشاهده فایل و متادیتا"
                      (click)="openModalShowClick(showModal, product)"
                    />
                  </span>
                  <span *ngIf="product.state.seen === true">
                    <img
                      src="../../../../assets/icons/eye-green.svg"
                      width="15px"
                      height="15px"
                      alt="SHOW"
                      style="color: #820263"
                      aria-hidden="true"
                      title="مشاهده فایل و متادیتا"
                      (click)="openModalShowClick(showModal, product)"
                    />
                  </span>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #emptyTable>
  <div style="margin-top: 2rem">
    <p-table responsive="true" class="Table" autoLayout>
      <ng-template pTemplate="header">
        <tr class="tr-class">
          <th style="width: 100%" class="th-class">
            رکوردی جهت نمایش وجود ندارد
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>

<ng-template #emptyMeta>
  <img
    src="../../../../assets/icons/eye-closed.svg"
    width="15px"
    height="15px"
    alt="SHOW"
    style="color: #820263"
    aria-hidden="true"
  />
</ng-template>

<ng-template #showModal let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" style="color: black; float: left">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-card dir="rtl" style="margin: 0.5rem">
      <p-table
        dir="rtl"
        dataKey="id"
        responsive="true"
        class="Table"
        autoLayout
      >
        <ng-template pTemplate="header">
          <tr class="tr-class">
            <th style="width: 30%" class="th-class">شماره سند</th>
            <th style="width: 30%" class="th-class">کد شعبه سند</th>
            <th style="width: 30%" class="th-class">تاریخ سند</th>
            <th style="width: 30%" class="th-class">طبقه سند</th>
            <th style="width: 30%" class="th-class">شرح سند</th>
          </tr>
        </ng-template>
      </p-table>
      <p-table
        dir="rtl"
        dataKey="id"
        responsive="true"
        class="Table"
        autoLayout
      >
        <ng-template pTemplate="header">
          <tr class="tr-class2">
            <td class="td-class">{{ docnumber }}</td>
            <td class="td-class">{{ docbranchcode }}</td>
            <td class="td-class">{{ docdate }}</td>
            <td class="td-class">{{ docclass }}</td>
            <td class="td-class">{{ documentDescription }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="p-col-12" style="padding: 0 !important">
        <div
          *ngIf="open"
          style="width: 100%; height: 500px; margin-top: 1.5rem"
        >
          <ng2-pdfjs-viewer [pdfSrc]="link"></ng2-pdfjs-viewer>
        </div>
      </div>
    </mat-card>
  </div>
</ng-template>

<ng-template #notBranch>
  <input class="input" type="text" [value]="branchName" disabled />
</ng-template>

<ng-template #emptyDD>
  <input value="ابتدا نوع پرونده را انتخاب کنید" disabled class="input" />
</ng-template>
